.notes-card {
  color: var(--text-primary);
  padding: 0 !important;

  ::ng-deep .mat-mdc-card-content {
    padding: 0 !important;
  }
}

.note-input-field {
  width: 100%;
  color: var(--text-primary);

  p {
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-header);
    font-size: var(--font-size-title);
    color: var(--text-primary);
    padding: 0 !important;
    margin: 0 !important;
  }
}

.button-row {
  display: flex;
  flex-direction: end;
  align-items: right;
  margin-top: 0.2rem;
  justify-content: right;
  gap: 0.2rem;

  .save-btn {
    background-color: var(--color-green);
    color: var(--color-black);
  }

  .right-btn {
    background-color: var(--color-green);
    color: var(--color-black);
  }

}

button {
  font-size: var(--font-size-header);
  font-weight: var(--font-weight-header);
}

.previous-remarks {

  p {
    display: grid;
    color: var(--text-primary);
  }

  h4 {
    color: var(--text-primary);
  }

  p {
    margin: 0.25rem 0.2rem;
    //background: var(--color-green);
  }

  .no-remarks {
    color: var(--text-primary);
    font-style: italic;
  }
}

.note-header {
  display: flex;
  align-items: center;
  gap: 4em;
}

.delete-remark {
  display: flex;
  gap: 0.2rem;

}