<div *ngIf="companyDetails; else noData" class="company-details-component">
  <div class="company-header">
    <h2 style="color: var(--text-primary); display: flex; gap: 2rem;">
      {{ companyDetails.name }}
      <app-button [buttonText]="'VIEW EMAILS SENT'" [icon]="'visibility'" [routerLink]="['/emails', companyDetails.id]">
      </app-button>
    </h2>
  </div>


  <div class="company-sections-grid">
    <div *ngFor="let section of companySections" class="company-section">
      <h3 style="color: var(--text-primary)">{{ section.title }}</h3>
      <mat-card>
        <mat-card-content>
          <div *ngFor="let entry of section.entries" style="line-height: 1.5em;">
            <strong style="color: var(--text-primary);">{{ entry.key }}:</strong>

            <ng-container *ngIf="isLink(entry.value)">
              <a [href]="entry.value" class="link-truncate">
                {{ truncate(entry.value, 50) }}
              </a>

            </ng-container>

            <ng-container *ngIf="entry.expandable && !isExpanded(entry.key)">
              {{ truncate(entry.value, 120) }}
              <a style="color: var(--color-green);" href="#"
                (click)="toggleField(entry.key); $event.preventDefault()">Read more</a>
            </ng-container>

            <ng-container *ngIf="entry.expandable && isExpanded(entry.key)">
              {{ entry.value }}
              <a style="color: var(--color-green);" href="#"
                (click)="toggleField(entry.key); $event.preventDefault()">Show less</a>
            </ng-container>

            <ng-container *ngIf="!entry.expandable && !isLink(entry.value)">
              {{ entry.value || 'N/A'}}
            </ng-container>

          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- all sections -->
  <app-notes [companyId]="companyDetails.id" [notes]="companyDetails.notes"></app-notes>

</div>

<ng-template #noData>
  <p style="color: var(--text-primary);"></p>
  <app-loader></app-loader>
</ng-template>