<div class="home-component">
  <!-- Data Cards -->
  <div class="data-cards">
     <app-data-card
       *ngFor="let stat of statsVisible"
       [title]="stat.title"
       [data]="stat.data"
       [color]="stat.color"
       [progress]="stat.progress">
     </app-data-card>
  </div>

  <!-- Filters -->
  <div class="lead-filters">
     <ng-container *ngFor="let filter of filters">
       <app-filter
         [title]="filter.optionType"
         [options]="filter.options"
         [filterKey]="filter.key"
         (filterChanged)="onFilterChange($event)">
       </app-filter>
     </ng-container>
  </div>

  <!-- Lead List -->
  <div class="lead-list">
     <app-leads
       [title]="'LEAD LIST'"
       [columns]="leadColumns"
       [data]="filteredLeads"
       [fullTable]="false"
       [paginate]="true"
       [pageSize]="20"
       [buttons]="['View', 'Update']">
     </app-leads>
  </div>

  <!-- Relevant News Feed -->
  <!--
  <div class="data-feed">
     <app-data-feed
       [title]="'RELEVANT NEWS FEED'"
       [data]="news_feed">
     </app-data-feed>

     <app-data-feed
       [title]="'RECENT ACTIVITY'"
       [data]="activity_feed">
     </app-data-feed>
  </div>
-->
</div>
