<nav class="navbar-component">
  <!-- App Logo -->
  <div class="app-logo">
    <a routerLink="/">
      <img [src]="theme === 'light' ? 'assets/transparent_adept_logo_1.png' : 'assets/white adept logo 3.png'" alt="Adept Logo" />
    </a>
  </div>

  <!-- Navigation Menu -->
  <div class="navbar-menu">
    <a class="nav-link" routerLink="/">HOME</a>
    <a class="nav-link" routerLink="/leads">LEADS</a>
    <a class="nav-link" routerLink="/analytics">ANALYTICS</a>
    <a class="nav-link" routerLink="/warmup-stats">WARMUP STATS</a>
    <a class="nav-link" routerLink="/settings">SETTINGS</a>
  </div>

  <div class="right-section">
    <!-- Search Bar -->
    <div class="search-bar">
      <app-search-bar></app-search-bar>
    </div>
    <div class="navbar-actions">
      <button class="theme-toggle" (click)="toggleTheme()">
        <mat-icon>{{ theme === 'dark' ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
    </div>
  </div>
  
</nav>
