.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  padding: 20px;

  p {
    margin-top: 10px;
    font-size: 14px;
  }
}
