.search-component{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 10px;
    gap: 2rem;
}

.search-bar{
    background: none;
    border:none;
    color: var(--text-primary);
    border: 1px solid var(--border-color);
}

input{
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-header);
    color: var(--text-primary);
}

::ng-deep input::placeholder {
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-header);
    color: var(--text-primary);
}

.search-field{
    background-color: var(--text-primary);
}

